@page
@model razorweb.Pages_Blog.DetailsModel

@{
    ViewData["Title"] = @Model.Article.Title;
    
}

<h1>@Model.Article.Title</h1>
<p><i>@Html.DisplayFor(model=> model.Article.Create)</i></p>
<hr>
@Html.Raw(Model.Article.Content)

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
