@page
@model razorweb.Pages_Blog.IndexModel

@{
    int i = 0;
    ViewData["Title"] = "Index";
}


@{
    var pagingModel = new XTL.Helpers.PagingModel()
    {
        currentPage = Model.currentPage,  
        countPages  = Model.countPages, 
        generateUrl =  (int? p) => Url.Page("/Blog/Index", new {p= p})
    };

}
<partial name="_PagingXTL" model="@pagingModel" />


<form method="get" asp-page="./Index">
    <Label> Tìm kiếm</Label>
    <input name="searchString" value=""/>
    <button type="submit">Tìm</button>
</form>
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Create)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Article[0].Content)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>@(++i)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create)
            </td>
            <td>
                @Html.Raw(item.Content)
                @* @Html.DisplayFor(modelItem => item.Content) *@
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Xem</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
